.msg1 {
	background-color:#eee;
	color:black;
	width:100%;
	margin-top:20px;
	padding:20px;
	border:1px solid black;
	box-shadow: 5px 5px 5px gray;
}
 
body{
	padding:0px;
	margin:0px;

}

.container-fluid{
	padding:0px;
	margin:0px;
}